
<blockquote>
  <p>
    <% if @ask.blank? %>
      😶
    <% else %>
      <%= @ask %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
